# 忽略 /models/ 下所有以 llama 开头的文件夹 模型文件过于庞大
models/llama*/
.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc